* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 5px;

}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 50px;
    cursor: pointer;
    margin-right: 20px;
}

.lang-btn {
    width: auto;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;


}

.lang-btn img {
    width: 10px;

}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 8%;
}

.header-content h1 {
    font-size: 3rem;
    line-height: 70px;
    font-weight: 600;
    max-width: 100%;

}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup {
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;

}

.email-signup input {

    width: 60%;
    height: 50px;
    border: solid 1px;
    border-color: #fff;

    margin-left: 50px;
    background: rgba(26, 25, 30, 0.6);
}

.email-signup input:required {
    color: #ffffff;

}


.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
    margin-left: 10px;
    border-radius: 5px;
}

.email-signup :focus {
    border: solid px;
    border-color: #fff;

}


/* -------------features--------------- */

.ex {

    padding: 50px 0;
    border-top: 6px solid #333;
    display: flex;
    height: auto;
    align-items: center;

}

.row {
    height: auto;
    padding: 50px 150px;
    border-top: 6px solid #333;
    display: flex;
    width: 100%;
    align-items: center;
}

.text-col {
    width: 50%;
}

.img-col {
    width: 50%;
}

.img-col img {
    position: relative;
    width: 100%;
}

.video-bar-1 {
    position: absolute;
    margin-left: 40px;
    width: 30%;
    margin-top: 60px;
}


.video-bar-2 {
    z-index: -2;
    position: absolute;
    margin-left: -400px;
    margin-top: 30px;
    width: 310px;
}

.features h2 {
    font-size: 3rem;
    font-weight: 900;
}

.features p {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}


/* ------------faq----------- */

.faq {
    padding: 10px 12%;
    border-top: 6px solid #333;
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
}

.faq h2 {
    font-weight: 600;
    font-size: 45px;
}

.acccordian {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordian li {
    list-style: none;
    width: 100%;
    padding: 5px;

}

.accordian li label:hover {
    background: #585757;
}

.accordian li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    height: 80px;
}

label::after {
    content: '+';
    font-size: 50px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordian .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordian input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordian input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.bottom-signup .email-signup {
    margin-left: 170px;
    max-width: 600px;
    margin: 20px auto 60 px;


}

.bottom-signup {
    margin-top: 50px;
    font-size: 20px;
    line-height: 1rem;
}




/* --------------footer------------------ */

.footer {
    padding: 50px 12%;
    border-top: 6px solid #333;
    color: #c8c4c4;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.col a {
    display: block;
    color: #c8c4c4;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.links {
    display: flex;
    align-items: flex-start;
}

.lang-btn {
    color: #fff;
}

.copyright-text {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* --------------media queries---- */

@media only screen and (max-width:600px) {


    .logo {
        margin-left: 0px;
        width: 90px;
    }

    nav button {
        padding: 5px 10px;
    }

    nav .lang-btn {
        width: 6;
        padding: 4px 8px;
    }

    .header {
        height: auto;
        box-sizing: border-box;
    }

    .header-content {
        position: unset;
        transform: none;
        font-weight: 100;
    }

    .header-content h1 {
        font-size: 30px;
    }

    .email-signup button {
        font-size: 12px;
        padding: 10px 15px;
    }

    .text-col,
    .img-col {
        width: 100%;
        text-align: center;
    }

    .features h2 {
        font-size: 30px;
    }

    .features p {
        width: 100%;
        font-size: 15px;
    }


    .video-bar-1 {
        position: absolute;
        width: 80%;
    }

    .features .row {
        height: auto;
        padding: 50px 0;
    }

    .faq h2 {
        font-size: 20px;
    }

    .accordian .content {
        font-size: 14px;
    }

    .accordian li label {
        padding: 10px;
        font-size: 14px;
    }

    label::after {
        font-size: 22px;
    }

    .row {
        display: grid;
    }

    .ex {
        display: grid;
    }

    .ex div:first-child {
        order: 2;
    }

    .bottom-signup .email-signup {
        margin-left: 0px;
        max-width: 100%;
    }

    .email-signup {
        display: grid;
    }

    .email-signup input {

        margin-left: 20px;
        width: 90%;
    }

    .email-signup button {
        margin-top: 20px;
        margin-left: 100px;
        height: 50px;
        width: 200px;
    }


    .links {
        display: grid;
        flex-wrap: wrap;
        align-items: flex-start;
    }

}